
.servicesSection ul .navLink {
    text-decoration: none;
}
.servicesSection ul .navLink .link{
    height: 85px;
    list-style-type: none;
    color: #000000;
    font-family: 'Ubuntu', sans-serif;
    font-size: 0.7rem;
    font-weight: 500;
    padding: 15px 40px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
    border-bottom: 4px solid transparent;
    transition: 0.3s ease-in-out;
}
.servicesSection ul .navLink .link img{
    width: 28px;
    transition: 0.3s ease-in-out;
}
.servicesSection .navBar ul .navLink .link:hover{
    background-color: #f2f2f2;
    border-bottom:  4px solid #FF5207;
}
.servicesSection .servicesContainer{
    width: 100%;
    height:max-content;
    display:none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 40px 45px;
    gap:30px;
    position: fixed;
    top: 100%;
    right: 0px;
    left: 0px;
    background-color: #F2F2F2;
    transition: 0.3s ease-in-out;
}
.servicesSection:hover .servicesContainer{
    display: flex;
}
.servicesSection .servicesContainer .servicesColumn{
    width:45%;
    height:65vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding: 0px;
}
.servicesSection .servicesContainer .servicesColumn .infoServices{
    width:100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 20px;
    padding: 10px 10px;
    border-radius: 10px;
    border:1px solid #cccccc;
    transition: 0.3s ease-in-out;
}
.servicesSection .servicesContainer .servicesColumn .infoServices:hover{
    background-color: #f9f9f9;
    border:1px solid #f9f9f9;
}
.servicesSection .servicesContainer .servicesColumn .infoServices .iconServices{
    width:20px;
    height:auto;
}
.servicesSection .servicesContainer .servicesColumn .infoServices .info{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.servicesSection .servicesContainer .servicesColumn .infoServices .title{
    font-size:0.8rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    color:#747474;
}
.servicesSection .servicesContainer .servicesColumn .infoServices .paragraph{
    font-size:0.7rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    color:#B0B0B0;
}
.servicesSection .servicesContainer .servicesColumn .btnServices{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 10px;
    background-color: #000000;
    text-decoration: none;
    font-size:0.9rem;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
    color:#ffffff;
    border: 1px solid #000000;
    transition:0.3s ease-in-out;
}
.servicesSection .servicesContainer .servicesColumn .btnServices:hover{
    background-color: #ffffff;
    color:#000000;
}

/* MediaQueries */

@media screen and (max-width: 1300px){
    .servicesSection #servicesContainer{
        display: none;
    }
}
@media screen and (max-width: 670px){
    .servicesSection{
        height:85px;
        z-index: 9;
        border-top: 4px solid transparent;
    }
}
