.sectionContactUs{
    width:100%;
    height:auto;
    background-color:#ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
.sectionContactUs .sideBySide{
    width:90%;
    max-width: 100%;
    height:auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 100px auto;
    gap: 100px;
    position: relative;
}
.sectionContactUs .sideBySide .contactUs{
    width:100%;
    height:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:100px;
}
.sectionContactUs .sideBySide .contactUs .columnLocation .splitLocation{
    width:100%;
    height:auto;
    display: flex;
    flex-direction: column;
    gap:30px;
}
.sectionContactUs .sideBySide .contactUs .columnLocation .titlesContactUs{
    width:100%;
    height:auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color: #F9F9F9;
    padding:20px;
    border-radius: 10px;
    font-size:1rem;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
    color:#747474;
}
.sectionContactUs .sideBySide .contactUs .columnLocation .location{
    width:100%;
    height:auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border:1px solid #F9F9F9;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}
.sectionContactUs .sideBySide .contactUs .columnLocation .location:hover{
    box-shadow:0 0 15px 2px #f9f9f9;
}
.sectionContactUs .sideBySide .contactUs .columnLocation .location .picInfo {
    width:100%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap:20px;
}
.sectionContactUs .sideBySide .contactUs .columnLocation .location .picInfo .info{
    width:100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap:5px;
    padding: 10px;
}
.sectionContactUs .sideBySide .contactUs .columnLocation .location .picInfo .info div{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap:10px;
}
.sectionContactUs .sideBySide .contactUs .columnLocation .location .picInfo .info div img{
    width:16px;
}
.sectionContactUs .sideBySide .contactUs .columnLocation .location .picInfo .info h4{
    font-size:1rem;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
    color:#b0b0b0;
}
.sectionContactUs .sideBySide .contactUs .columnLocation .location .picInfo .info p{
    font-size:0.9rem;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
    color:#cccccc;
    padding-left:26px;
}
.sectionContactUs .sideBySide .contactUs .columnLocation .location .picInfo .info p span{
    font-weight: 700;
}
.sectionContactUs .sideBySide .contactUs .columnLocation .location .picInfo .buildingPic{
    width:100px;
    aspect-ratio: 3/4;
    height:auto;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.sectionContactUs .sideBySide .contactUs .columnLocation .location a{
    width:35%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: self-end;
    gap: 20px;
    padding: 10px;
    margin-bottom:15px ;
    margin-right: 15px;
    background-color: #cccccc;
    text-decoration: none;
    border-radius: 5px;
    font-size:0.9rem;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
    color:#ffffff;
    transition:0.3s ease-in-out;
}
.sectionContactUs .sideBySide .contactUs .columnLocation .location a:hover{
    background-color: #f2f2f2;
    color:#747474;
}
.sectionContactUs .sideBySide .contactUs .columnLocation .location a img{
    width:22px;
}
.sectionContactUs .sideBySide .mainAddress{
    width:100%;
    height:max-content;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 80px;
    position: sticky;
    top:20%;
    left:0px;
    background-color: aquamarine;
}
.sectionContactUs .sideBySide .contactUs .imgContactUs{
    display:flex;
    object-fit: cover;
    width:100%;
}
.sectionContactUs .sideBySide .mainAddress .contactNumber{
    width:100%;
    height:max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
}
.sectionContactUs .sideBySide .mainAddress .contactNumber .contactCountry{
    width:100%;
    display: flex;
    flex-direction: column;
    gap:10px;
}
.sectionContactUs .sideBySide .mainAddress .contactNumber .contactCountry .contactPhone{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap:10px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
}
.sectionContactUs .sideBySide .mainAddress .contactNumber .contactCountry .contactPhone  .title{
    font-size:1rem;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
    color:#747474;
}
.sectionContactUs .sideBySide .mainAddress .contactNumber .contactCountry .contactPhone img{
    width:22px;
}
.sectionContactUs .sideBySide .mainAddress .contactNumber .contactCountry section{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:10px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
}
.sectionContactUs .sideBySide .mainAddress .contactNumber .contactCountry section div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:50px;
}
.sectionContactUs .sideBySide .mainAddress .contactNumber .contactCountry section div p{
    font-size:0.8rem;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
    color:#b0b0b0;
}

/* MediaQueries */

@media screen and (max-width: 1120px){
    .sectionContactUs .sideBySide{
        flex-wrap: wrap;
        flex-direction: column-reverse;
        gap: 100px;
    }
    .sectionContactUs .sideBySide .mainAddress{
        width:100%;
        display:flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-self: center;
        position: static;
        top:0;
        margin: auto;
    }
    .sectionContactUs .sideBySide .mainAddress .contactNumber{
        width:100%;
        display:flex;
        flex-direction: row;
        gap:80px;
    }
    .sectionContactUs .sideBySide .contactUs{
        flex-direction: column;
    }
    .sectionContactUs .sideBySide .contactUs .columnLocation{
        flex-direction: column;
        background-color: aqua;
    }
    .sectionContactUs .sideBySide .contactUs .columnLocation .splitLocation{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
        gap:20px;
    }
    .sectionContactUs .sideBySide .contactUs .columnLocation .location{
        width:max-content;
        height:auto;
        flex-direction: column;
        align-items: flex-start;
        gap:20px;
    }
    .sectionContactUs .sideBySide .contactUs .columnLocation .location a{
        margin:15px ;
        width:calc(100% - 30px);
    }
    .sectionContactUs .sideBySide .contactUs .columnLocation .location .picInfo .buildingPic{
        border-top-left-radius: 10px;
        border-bottom-left-radius: 0px;
        border-top-right-radius: 0px;
        border-bottom-right-radius: 0px;
    }
}

@media screen and (max-width: 800px){
    .sectionContactUs .sideBySide .contactUs .columnLocation .splitLocation .location{
        width:100%;
    }
    .sectionContactUs .sideBySide .mainAddress .contactNumber{
        flex-direction: column;
        gap:50px;
    }
}

@media screen and (max-width: 750px){
    .sectionContactUs .sideBySide .contactUs{
        flex-direction: column;
    }
}
@media screen and (max-width: 670px){
    .sectionContactUs .sideBySide .mainAddress{
        flex-direction: column;
        gap:50px;
    }
}



