.sectionContactUs{
    width:100%;
    height:auto;
    background-color:#ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
.sectionContactUs .sideBySide{
    width:90%;
    height:auto;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin: 100px auto;
    position: relative;
    gap: 150px;
}
.sectionContactUs .sideBySide .contactUs{
    width:100%;
    height:auto;
    display: flex;
    flex-direction: column;
}
.sectionContactUs .sideBySide .contactUs .columnLocation{
    width:100%;
    height:auto;
    display: flex;
    flex-direction: column;
    gap:30px;
}
.sectionContactUs .sideBySide .contactUs .columnLocation .titlesContactUs{
    width:100%;
    height:auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
    background-color:  #F9F9F9;
    padding:20px;
    border-radius: 10px;
    font-size:1rem;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
    color:#747474;
}
.sectionContactUs .sideBySide .contactUs .columnLocation #titlesContactUs{
    margin-top: 60px;
}
.sectionContactUs .sideBySide .contactUs .columnLocation .location{
    width:100%;
    height:auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border:1px solid #F9F9F9;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}
.sectionContactUs .sideBySide .contactUs .columnLocation .location:hover{
    box-shadow:0 0 5px 1px #F9F9F9;
}
.sectionContactUs .sideBySide .contactUs .columnLocation .location .info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:5px;
    margin-left: -40px;
}
.sectionContactUs .sideBySide .contactUs .columnLocation .location .info div{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap:10px;
}
.sectionContactUs .sideBySide .contactUs .columnLocation .location .info div img{
    width:16px;
}
.sectionContactUs .sideBySide .contactUs .columnLocation .location .info h4{
    font-size:1rem;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
    color:#b0b0b0;
}
.sectionContactUs .sideBySide .contactUs .columnLocation .location .info p{
    font-size:0.9rem;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
    color:#cccccc;
    padding-left:26px;
}
.sectionContactUs .sideBySide .contactUs .columnLocation .location .info p span{
    font-weight: 700;
}
.sectionContactUs .sideBySide .contactUs .columnLocation .location .buildingPic{
    width:15%;
    aspect-ratio: 3/4;
    height:auto;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.sectionContactUs .sideBySide .contactUs .columnLocation .location a{
    width:25%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: self-end;
    gap: 20px;
    padding: 10px;
    margin-bottom:15px ;
    margin-right: 15px;
    background-color: #cccccc;
    text-decoration: none;
    border-radius: 5px;
    font-size:0.9rem;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
    color:#ffffff;
    transition:0.3s ease-in-out;
}
.sectionContactUs .sideBySide .contactUs .columnLocation .location a:hover{
    background-color: #f2f2f2;
    color:#747474;
}
.sectionContactUs .sideBySide .contactUs .columnLocation .location a img{
    width:22px;
}
.sectionContactUs .sideBySide .mainAddress{
    width:60%;
    height:max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: sticky;
    top:20%;
}
.sectionContactUs .sideBySide .mainAddress .contactNumber{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px;
}
.sectionContactUs .sideBySide .mainAddress .contactNumber .contactCountry{
    width:100%;
    display: flex;
    flex-direction: column;
    gap:10px;
}
.sectionContactUs .sideBySide .mainAddress .contactNumber .contactCountry .contactPhone{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap:10px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
}
.sectionContactUs .sideBySide .mainAddress .contactNumber .contactCountry .contactPhone  .title{
    font-size:1rem;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
    color:#747474;
}
.sectionContactUs .sideBySide .mainAddress .contactNumber .contactCountry .contactPhone img{
    width:22px;
}
.sectionContactUs .sideBySide .mainAddress .contactNumber .contactCountry section{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap:10px;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 10px;
}
.sectionContactUs .sideBySide .mainAddress .contactNumber .contactCountry section div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:50px;
}
.sectionContactUs .sideBySide .mainAddress .contactNumber .contactCountry section div p{
    font-size:0.8rem;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
    color:#b0b0b0;
}

