.sectionContactUs{
    width:100%;
    height:auto;
    background-color:#ffffff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: auto;
}
.sectionContactUs .sideBySide{
    width:90%;
    height:auto;
    display: flex;
    flex-direction: row-reverse;
    gap:20px;
    margin: 100px auto;
    position: relative;
}
.sectionContactUs .sideBySide .contactUs{
    width:100%;
    height:auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.sectionContactUs .sideBySide .contactUs .columnLocation{
    width:100%;
    height:auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.sectionContactUs .sideBySide .contactUs .columnLocation .titlesContactUs{
    width:70%;
    height:auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    background-color:  #F9F9F9;
    padding: 30px;
    border-radius: 10px;
    font-size:1rem;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
    color:#747474;
}
.sectionContactUs .sideBySide .contactUs .columnLocation #titlesContactUs{
    margin-top: 30px;
}
.sectionContactUs .sideBySide .contactUs .columnLocation .location{
    width:70%;
    height:auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border:1px solid #F9F9F9;
    padding: 30px;
    margin: 10px auto;
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}
.sectionContactUs .sideBySide .contactUs .columnLocation .location:hover{
    box-shadow:0 0 5px 1px #F9F9F9;
}
.sectionContactUs .sideBySide .contactUs .columnLocation .location .info{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:10px;
}
.sectionContactUs .sideBySide .contactUs .columnLocation .location .info div{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap:10px;
}
.sectionContactUs .sideBySide .contactUs .columnLocation .location .info div img{
    width:16px;
}
.sectionContactUs .sideBySide .contactUs .columnLocation .location .info h4{
    font-size:1rem;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
    color:#b0b0b0;
}
.sectionContactUs .sideBySide .contactUs .columnLocation .location .info p{
    font-size:0.9rem;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
    color:#cccccc;
    padding-left:26px;
}

.sectionContactUs .sideBySide .contactUs .columnLocation .location .buildingPic{
    width:18%;
    height:auto;
    object-fit: cover;
    border-radius: 5px;
}
.sectionContactUs .sideBySide .contactUs .columnLocation .location a{
    width:30%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: self-end;
    gap: 20px;
    padding: 10px;
    background-color: #cccccc;
    text-decoration: none;
    border-radius: 5px;
    font-size:0.9rem;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
    color:#ffffff;
    transition:0.3s ease-in-out;
}
.sectionContactUs .sideBySide .contactUs .columnLocation .location a:hover{
    background-color: #f2f2f2;
    color:#747474;
}
.sectionContactUs .sideBySide .contactUs .columnLocation .location a img{
    width:24px;
}
.sectionContactUs .sideBySide .mainAddress{
    width:35%;
    height:max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px  auto;
    background-color: #f9f9f9;
    padding: 30px;
    border-radius: 10px;
    position: sticky;
    top:25%;
}
.sectionContactUs .sideBySide .mainAddress .contactNumber{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:30px;
}
.sectionContactUs .sideBySide .mainAddress .contactNumber .contactCountry{
    display: flex;
    flex-direction: column;
    gap:10px;
}
.sectionContactUs .sideBySide .mainAddress .contactNumber .contactCountry div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap:50px;
}
.sectionContactUs .sideBySide .mainAddress .contactNumber .contactCountry h4{
    font-size:1rem;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
    color:#747474;
    margin-bottom: 15px;
}
.sectionContactUs .sideBySide .mainAddress .contactNumber .contactCountry div p{
    font-size:0.8rem;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
    color:#b0b0b0;
}

