
.smartphoneSection{
    width:100%;
    height:auto;
    margin:300px auto;
}
.smartphoneSection .imgSmartphoneSection{
    width:100%;
    height:auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.smartphoneSection .imgSmartphoneSection .info{
    width:100%;
    height:auto;
    display:flex;
    flex-direction: column;
    margin: auto;
    gap:20px;
}
.smartphoneSection .imgSmartphoneSection .info .titleSection{
    font-size: 2.5rem;
    font-weight:500 ;
    color: #000000;
    text-align: center;
}
.smartphoneSection .imgSmartphoneSection .info .description{
    font-size: 1.2rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight:400 ;
    color: #747474;
    text-align: center;
}
.smartphoneSection .imgSmartphoneSection .smartphoneSectionUno,
.smartphoneSection .imgSmartphoneSection .smartphoneSectionDos{
    width:100%;
    height:auto;
    overflow: hidden;
    position: relative;
}
.smartphoneSection .imgSmartphoneSection .item{
    width:100%;
    height:auto;
    object-fit: cover;
    position: relative;
    transform:scale(103%);
    transition:transform 0.3s ease-in-out;
}
.smartphoneSection .imgSmartphoneSection .smartphoneSectionUno:hover > .item,
.smartphoneSection .imgSmartphoneSection .smartphoneSectionDos:hover > .item{
    transform:scale(108%);
    filter:brightness(105%);
}
.smartphoneSection .imgSmartphoneSection .smartphoneSectionUno .btnInfo,
.smartphoneSection .imgSmartphoneSection .smartphoneSectionDos .btnInfo{
    width:100%;
    height:auto;
    position: absolute;
    bottom:40px;
    left:0px;
    z-index: 11;
    padding:0px 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap:30px;
}
.smartphoneSection .imgSmartphoneSection .smartphoneSectionUno .btnInfo .paragraph,
.smartphoneSection .imgSmartphoneSection .smartphoneSectionDos .btnInfo .paragraph{
    font-size: 1.1rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight:500;
    color: #000000;
    text-align: left;
    letter-spacing: 2px;
    line-height: 30px;
    filter:drop-shadow(1px 1px 2px #747474);
}
.smartphoneSection .imgSmartphoneSection .smartphoneSectionUno .btnInfo .cta,
.smartphoneSection .imgSmartphoneSection .smartphoneSectionDos .btnInfo .cta{
    width: 70%;
    padding:15px;
    font-size: 1rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight:400;
    color: #FF5207;
    text-align: center;
    letter-spacing:2px;
    background-color: transparent;
    border: 1.5px solid #FF5207;
    transition:0.3s ease-in-out;
}
.smartphoneSection .imgSmartphoneSection .smartphoneSectionUno .btnInfo .cta:hover,
.smartphoneSection .imgSmartphoneSection .smartphoneSectionDos .btnInfo .cta:hover{
    border: 1px solid #000000;
    background-color: #000000;
    letter-spacing:3px;
    color: #ffffff;
}
