.cardItem{
    width:70%;
    height:auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 100px auto;
    border-radius: 10px;
    background-color: #F9F9F9;
    transition:0.3s ease-in
}
.cardItem:hover{
    box-shadow: 1px 3px 6px 1px #dbdbdb;
}
.cardItem:hover .imgCounter{
    background-color: #f9f9f9;
}
.cardItem:hover .imgCounter > .image{
    transform: scale(102%);
}
.cardItem:hover .categoryInfo{
    background-color: #ffffff;
}
.cardItem .imgCounter,
.cardItem .categoryInfo{
    width:100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;  display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding:20px 30px;
    transition: 0.3s ease-in-out;
}
.cardItem .imgCounter{
    width:40%;
    align-items: center;
    background-color: #ffffff;
    border-bottom-left-radius: 10px;
    border-top-left-radius:10px;
}
.cardItem .imgCounter .image{
    width:auto;
    height: auto;
    object-fit: cover;
    transform: scale(100%);
    transition:transform 0.3s ease-in-out;
}
.cardItem .categoryInfo{
    border-bottom-right-radius: 10px;
    border-top-right-radius:10px;
}
.cardItem .categoryInfo .category{
    color: #000000;
    font-size: 1.3rem;
    font-weight: 500;
    font-family: 'Expletus Sans', sans-serif;
}
.cardItem .categoryInfo .info{
    display: flex;
    flex-direction: column;
    gap:15px;
}
.cardItem .categoryInfo .info .id{
    color: #b0b0b0;
    font-size: 0.9rem;
    font-weight: 400;
    font-family: 'Ubuntu', sans-serif;
}
.cardItem .categoryInfo .info .reference{
    width:max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 70px;
    color: #b0b0b0;
    font-size: 0.9rem;
    font-weight: 500;
    font-family: 'Expletus Sans', sans-serif;
}
.cardItem .categoryInfo .info .reference .price{
    color: #FF5207;
    font-size: 0.9rem;
    font-weight: 700;
    font-family: 'Ubuntu', sans-serif;
}
.cardItem .description{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:10px;
    color: #747474;
    font-size: 0.8rem;
    font-weight: 300;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 0.5px;
}
.cardItem .description .titleDescription{
    color: #000000;
    font-size: 0.9rem;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 0.5px;
}
