.cardItem{
    width:90%;
    height:auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 100px auto;
    border-radius: 10px;
    box-shadow:0 0 6px 3px #f2f2f2;
    transition:0.3s ease-in
}
.cardItem:hover .imgCounter > .image{
    transform: scale(102%);
    filter: brightness(115%) drop-shadow(0 0 3px #cccccc) ;
}
.cardItem .imgCounter,
.cardItem .categoryInfo{
    width:60%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;  display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding:30px 30px;
    overflow: hidden;
    transition: 0.3s ease-in-out;
}
.cardItem .imgCounter{
    width:40%;
    align-items: center;
    background-color: #ffffff;
    border-bottom-left-radius: 10px;
    border-top-left-radius:10px;
}
.cardItem .imgCounter .image{
    width:auto;
    height: auto;
    object-fit: cover;
    transform: scale(100%);
    transition:transform 0.3s ease-in-out;
}
.cardItem .categoryInfo{
    gap:40px;
    border-bottom-right-radius: 10px;
    border-top-right-radius:10px;
}
.cardItem .categoryInfo .category{
    color: #000000;
    font-size: 2.5rem;
    font-weight: 500;
    font-family: 'Expletus Sans', sans-serif;
}
.cardItem .categoryInfo .info{
    display: flex;
    flex-direction: column;
    gap:30px;
}
.cardItem .categoryInfo .info .id{
    color: #b0b0b0;
    font-size: 0.9rem;
    font-weight: 400;
    font-family: 'Ubuntu', sans-serif;
}
.cardItem .categoryInfo .info .reference{
    width:max-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 70px;
    color: #b0b0b0;
    font-size: 0.9rem;
    font-weight: 500;
    font-family: 'Expletus Sans', sans-serif;
}
.cardItem .categoryInfo .info .reference .price{
    color: #FF5207;
    font-size: 0.9rem;
    font-weight: 700;
    font-family: 'Ubuntu', sans-serif;
}
.cardItem .categoryInfo .info .description{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:20px;
    color: #747474;
    font-size: 0.8rem;
    font-weight: 300;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 0.5px;
}
.cardItem .categoryInfo .info .description .title {
    color: #323232;
    font-size: 1rem;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 0.3px;
}
.cardItem .categoryInfo .info .description .descriptionProduct{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    font-size: 0.8rem;
    font-family: 'Ubuntu', sans-serif;
}
.cardItem .categoryInfo .info .description .descriptionProduct .features,
.cardItem .categoryInfo .info .description .descriptionProduct .compatibility,
.cardItem .categoryInfo .info .description .descriptionProduct .updates{
    color: #b0b0b0;
    font-weight: 300;
    letter-spacing: 0.3px;
}
.cardItem .categoryInfo .info .description .descriptionProduct .features span,
.cardItem .categoryInfo .info .description .descriptionProduct .compatibility span,
.cardItem .categoryInfo .info .description .descriptionProduct .updates span{
    color: #747474;
    font-weight: 500;
}



.cardItem .categoryInfo .add{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
.cardItem .categoryInfo .add .addToCart{
    width:100%;
    background-color: #000000;
    border:1px solid #000000;
    margin:0px auto;
    padding: 10px 15px;
    color: #ffffff;
    font-size: 1rem;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.cardItem .categoryInfo .add .addToCart:hover{
    background-color: #ffffff;
    color:#FF5207 ;
    border:1px solid #FF5207;
}
