.whiteLineSection{
    width:100%;
    height:auto;
    margin:300px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap:100px;
}
.whiteLineSection  .info{
    width:60%;
    height:auto;
    display:flex;
    flex-direction: column;
    gap:20px;
}
.whiteLineSection .info .titleSection{
    font-size: 2.5rem;
    font-family: 'Expletus Sans', sans-serif;
    font-weight:500 ;
    color: #000000;
    text-align: center;
}
.whiteLineSection .info .description{
    font-size: 1.2rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight:400 ;
    color: #747474;
    text-align: center;
}
.whiteLineSection .imgWhiteLine{
    width:100%;
    height:auto;
    display: grid;
    grid-template-areas:
    "itemUno  itemDos"
    "itemUno itemDos"
    "itemTres itemTres"
    ;
    gap:0;
    overflow: hidden;
}
.whiteLineSection .imgWhiteLine .imgContainerUno{
    grid-area: itemUno;
}
.whiteLineSection .imgWhiteLine .imgContainerDos{
    grid-area: itemDos;
}
.whiteLineSection .imgWhiteLine .img.imgContainerTres{
    grid-area:itemTres;
}
.whiteLineSection .imgWhiteLine .imgContainerUno,
.whiteLineSection .imgWhiteLine .imgContainerDos{
    width:100%;
    height:auto;
    overflow: hidden;
    position: relative;
}
.whiteLineSection .imgWhiteLine div .item{
    width:100%;
    height:auto;
    object-fit: cover;
    position: relative;
    transform:scale(107%);
    transition:transform 0.3s ease-in-out;
}
.whiteLineSection .imgWhiteLine .imgContainerUno:hover > .item,
.whiteLineSection .imgWhiteLine .imgContainerDos:hover > .item{
    transform:scale(116%);
}
.whiteLineSection .imgWhiteLine .imgContainerUno .paragraph,
.whiteLineSection .imgWhiteLine .imgContainerDos .paragraph{
    width:100%;
    height:auto;
    position: absolute;
    bottom:80px;
    left:0px;
    z-index: 11;
    font-size: 1.8rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight:500;
    color: #000000;
    text-align: left;
    padding:0px 70px;
}

/* MediaQueries */

@media screen and (max-width: 1120px){
    .whiteLineSection .imgWhiteLine .imgContainerUno .paragraph,
    .whiteLineSection .imgWhiteLine .imgContainerDos .paragraph{
        bottom:10px;
        padding:40px 30px;
    }
}

@media screen and (max-width: 950px){
    .whiteLineSection .imgWhiteLine{
        display:flex;
        flex-direction: column;
    }
    .whiteLineSection  .info{
        width:100%;
    }
}
@media screen and (max-width: 500px){
    .whiteLineSection .info .titleSection{
        font-size: 2.1rem;
        text-align: center;
    }
    .whiteLineSection .info .description{
        font-size: 1rem;
        text-align: center;
    }
    .whiteLineSection .imgWhiteLine .imgContainerUno .paragraph,
    .whiteLineSection .imgWhiteLine .imgContainerDos .paragraph{
        font-size: 1.25rem;
        font-weight:500;
    }
}
