.categoryLaptop{
    width:100%;
    height:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px auto;
}
.categoryLaptop .titleSection{
    margin: 100px auto;
    color: #000000;
    font-size: 2.5rem;
    font-weight: 500;
    font-family: 'Expletus Sans', sans-serif;
}
.categoryLaptop .sectionLaptop{
    width:100%;
    max-width: 90%;
    margin-bottom: 100px;
}
.categoryLaptop .sectionLaptop .containerLaptop{
    width:100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}
.categoryLaptop .sectionLaptop .containerLaptop .cardProduct{
    width:20%;
    height:auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    padding:20px 15px;
    font-family: 'Ubuntu', sans-serif;
    border: 1px solid #F2F2F2;
}
.categoryLaptop .sectionLaptop .containerLaptop .cardProduct:hover{
    background-color: #F8F8F8;
    border: 1px solid #F8F8F8;
}
.categoryLaptop .sectionLaptop .containerLaptop .cardProduct:hover > img{
    transform:scale(105%);
    filter:brightness(130%);
}
.categoryLaptop .sectionLaptop .containerLaptop .cardProduct img{
    width:100%;
    height:auto;
    object-fit: cover;
    filter:brightness(115%);
    transform:scale(100%);
    transition: transform 0.3s ease-in-out;
}
.categoryLaptop .sectionLaptop .containerLaptop .cardProduct .description{
    width:100%;
    height:auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap:20px;
    font-family: 'Ubuntu', sans-serif;
}
.categoryLaptop .sectionLaptop .containerLaptop .cardProduct .description h3{
    width:100%;
    height:auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap:20px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.1rem;
    font-weight: 700;
    color: #323232;
}
.categoryLaptop .sectionLaptop .containerLaptop .cardProduct .description p{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
    color: #747474;
}
.categoryLaptop .sectionLaptop .containerLaptop .cardProduct .description p span{
    font-family: 'Ubuntu', sans-serif;
    font-size: 0.9rem;
    font-weight: 700;
    color: #FF5207;
}
.categoryLaptop .sectionLaptop .containerLaptop .cardProduct button{
    width:100%;
    padding: 10px 15px;
    font-family: 'Ubuntu', sans-serif;
    background-color:#000000;
    border: 1px solid #000000;
    font-size: 1rem;
    font-weight: 700;
    color: rgb(255, 255, 255);
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.categoryLaptop .sectionLaptop .containerLaptop .cardProduct button:hover{
    background-color:#ffffff;
    border: 1px solid #FF5207;
    color:#FF5207;
}
