.advantageSection{
    width:100%;
    max-width: 85%;
    height:auto;
    margin:300px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap:40px;
}
.advantageSection .cards{
    width:30%;
    height:200px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding:30px;
    gap:20px;
    border:1px solid #f2f2f2;
    overflow:hidden;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}
.advantageSection .cards:hover{
    background-color:#F9F9F9;
    border:1px solid #F9F9F9;
}
.advantageSection .cards:hover > .icon{
    transform: scale(110%);
}
.advantageSection .cards .icon{
    transform: scale(100%);
    transition:0.3s ease-in-out;
}
.advantageSection .cards .titleCard{
    font-size: 1.1rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight:500 ;
    color: #FF5207;
    text-align: center;
}
.advantageSection .cards .infoCard{
    font-size: 0.9rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight:400 ;
    color: #b0b0b0;
    text-align: center;
}
