li label{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
}
li label .cartWidget{
    width:28px;
    height:auto;
    cursor:pointer;
    transform:scale(100%);
    transition:transform 0.3s ease-in-out;
}
li label .cartWidget:hover{
    transform:scale(110%);
}
li label p{
    position: absolute;
    top:-5px;
    right:-5px;
    background-color:#FF5207;
    border-radius: 50%;
    padding:3px 6px;
    font-size: 0.6rem;
    color: #ffffff;
}
li #cartWidget{
    display:none;
}
li #cartWidget:checked ~ .shoppingCartSection{
    transform: translateY(0%);
}

