
h2{
    width:100%;
    max-width: 80%;
    margin: 5px auto;
    text-align: center;
    font-size: 0.8rem;
    color: #FF5207;
    font-family: 'Ubuntu', sans-serif;
    /* font-family: 'Expletus Sans', sans-serif; */
    animation: greeting 4s linear ;
}
@keyframes greeting{
    0%{
        transform: translate(-100%);
    }
    100%{
        transform: translate(0%);
    }
}
