
h2{
    margin: 5px auto;
    text-align: center;
    font-size: 1rem;
    /* position: relative;
    top: ; */
    animation: greeting 4s linear;
}
@keyframes greeting{
    0%{
        transform: translate(-100%);
    }
    100%{
        transform: translate(0%);
    }
}
