/* Section popup */

.custom-popup-container{
    width:30%;
    height:auto;
    font-family: 'Ubuntu', sans-serif;
    position: relative;
}
.popup, .message{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.popup img{
    width: 50px;
    height: 50px;
}
.message p{
    display: flex;
    flex-direction: column;
    gap:5px;
    font-size:0.8rem;
    font-weight: 500;
    color: #747474;
}
.message p:last-child{
    color: #FF5207;
    font-size:0.9rem;
}
.swal2-confirm.btnOk {
    color: #ffffff;
    font-size:1rem;
    font-weight: 500;
    max-width: 300px;
    padding: 10px 130px;
    background-color: #000000;
    border:1px solid #000000;
    border-radius: 0%;
    transition-duration: 0.3s ease-in-out;
}
.swal2-confirm.btnOk:hover {
    color: #442929;
    background-color: #ffffff;
    box-shadow: 0 0 0 transparent;
    border:1px solid #000000;
}

/* Section Checkout */

.checkout{
    width:100%;
    height: auto;
}
.checkout .endingPurchaseTitle{
    width:90%;
    padding-top:50px;
    color: #000000;
    font-size:1.5rem;
    font-weight: 700;
    margin: 0px auto;
}
.checkout .formUpdate{
    width:90%;
    display: flex;
    flex-direction: row;
    justify-content:space-between ;
    margin: 30px auto 100px;
    gap:40px;
}
.checkout .formUpdate .checkoutProducts{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    margin: 0px auto;
    gap:5px;
}
.checkout .formUpdate .checkoutProducts .titleItem{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0px auto;
    border-top: 1px solid #F2F2F2;
    padding-top: 15px;
    padding-bottom: 10px;
    text-transform: uppercase;
}
.checkout .formUpdate .checkoutProducts .titleItem h4{
    font-size:0.8rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
}
.checkout .formUpdate .checkoutProducts .resumeProduct{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0px;
    border-top: 1px solid #F2F2F2;
    font-size:0.8rem;
    font-weight: 500;
    color: #323232;
    font-family: 'Ubuntu', sans-serif;
}
.checkout .formUpdate .checkoutProducts .resumeProduct .description{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:30px;
}
.checkout .formUpdate .checkoutProducts .resumeProduct .description img{
    width:130px;
    background-color: #F9F9F9;
    border-radius: 5px;
    padding: 10px;
}
.checkout .formUpdate .checkoutProducts .resumeProduct .description .info{
    width:100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:30px;
}
.checkout .formUpdate .checkoutProducts .resumeProduct .description .info .text{
    display: flex;
    flex-direction: column;
    gap:5px;
}
.checkout .formUpdate .checkoutProducts .resumeProduct .description .info .category{
    font-size:0.9rem;
    font-weight: 700;
    color:#000000;
    font-family: 'Ubuntu', sans-serif;
    text-align: left;
}
.checkout .formUpdate .checkoutProducts .resumeProduct .description .info p{
    width:100%;
    font-size:0.7rem;
    font-weight: 700;
    color:#000000;
    font-family: 'Ubuntu', sans-serif;
    text-align: left;
}
.checkout .formUpdate .checkoutProducts .resumeProduct .description .info .rating{
    width:90%;
}
.checkout .formUpdate .checkoutProducts .resumeProduct p{
    width:70px;
    font-size:0.8rem;
    font-weight: 500;
    color:#000000;
    font-family: 'Ubuntu', sans-serif;
    text-align: end;
}
.checkout .formUpdate .checkoutProducts .emptySection{
    width: 100%;
    padding-top: 20px;
    border-top: 1px solid #F2F2F2;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.checkout .formUpdate .checkoutProducts .emptySection .emptyCartWord{
    width: 25%;
    color:#323232;
    font-size:0.9rem;
    font-weight: 400;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
}
.checkout .formUpdate .checkoutProducts .emptySection .emptyCartIcon{
    width: 30px;
    height:auto;
    border-radius: 50%;
    padding: 3px;
    cursor:pointer;
    transition: 0.3s ease-in-out;
}
.checkout .formUpdate .checkoutProducts .emptySection .emptyCartIcon:hover{
    background-color:#f9f9f9;

}
.checkout .formUpdate .checkoutProducts .totalCheckout{
    width: 100%;
    text-align: end;
    font-size:1.2rem;
    font-weight: 700;
    color: #FF5207;
}
.checkout .formUpdate .checkoutProducts .emptyCartLink{
    width:30%;
    color:#ffffff;
    font-size:1rem;
    font-weight: 400;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    text-decoration: none;
    padding:10px;
    margin-top:20px;
    background-color: #cccccc;
    text-align: center;
    border: 1px solid #cccccc;
    transition:0.3s ease-in-out;
}
.checkout .formUpdate .checkoutProducts .emptyCartLink:hover{
    border: 1px solid #f2f2f2;
    background-color: #f2f2f2;
    color:#747474;
}
.checkout .formUpdate .informationClient{
    width:55%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    position: sticky;
    top:60px;
}
.checkout .formUpdate .informationClient .shippingFree {
    width:100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #F9F9F9;
    margin: 0px auto 10px;
    padding:20px;
    color: #747474;
    font-size:0.8rem;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
}
.checkout .formUpdate .informationClient .shippingFree .message{
    width:100%;
    color: #747474;
    font-size:0.8rem;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}
.checkout .formUpdate .informationClient .shippingFree .journey{
    width:100%;
    display: flex;
    flex-direction: row;
    gap:10px;
}
.checkout .formUpdate .informationClient .shippingFree .journey .shippingLine{
    width:100%;
    height:3px;
    background-color: #FF5207;
    align-self: self-end;
    border-radius: 30px;
}
.checkout .formUpdate .informationClient .shippingFree .journey .shipping{
    width:24px;
}
.checkout .formUpdate .informationClient .legend {
    width:100%;
    background-color: #F9F9F9;
    margin-bottom: 10px;
}
.checkout .formUpdate .informationClient .legend .advise{
    width:100%;
    text-align: center;
    color: #747474;
    margin:20px auto;
    font-size:0.8rem;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
}
.checkout .formUpdate .informationClient .background{
    width:100%;
    background-color: #F9F9F9;
    display: flex;
    flex-direction: column;
    padding:20px;
}
.checkout .formUpdate .informationClient .background .formBox{
    width:100%;
    background-color: #F9F9F9;
    display: flex;
    flex-direction: column;
    gap:10px;
}
.checkout .formUpdate .informationClient .background .formBox input{
    color: #747474;
    font-size:0.7rem;
    font-weight: 300;
    font-family: 'Ubuntu', sans-serif;
    padding:15px;
    border: 1px solid #cccccc;
}
.checkout .formUpdate .informationClient .background .buttons{
    width:100%;
    color: #747474;
    font-size:0.8rem;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
    background-color: #F9F9F9;
    display: flex;
    flex-direction: column;
    gap:15px;
    padding-top: 25px;
}
.checkout .formUpdate .informationClient .background .myBtn{
    width:100%;
    padding: 15px;
    font-size:1rem;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
    cursor: pointer;
}
.checkout .formUpdate .informationClient .background .checkout{
    color: #ffffff;
    background-color: #000000;
    border: 1px solid #000000;
    transition:0.3s ease-in-out;
}
.checkout .formUpdate .informationClient .background .checkout:hover{
    color: #000000;
    background-color: #F2F2F2;
    border: 1px solid #000000;
}

