/* Section popup - Purchase order*/

.custom-popup-container{
    width:35%;
    height:auto;
    font-family: 'Ubuntu', sans-serif;
    position: relative;
}
.popup, .message{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.popup img{
    width: 50px;
    height: 50px;
}
.message p{
    display: flex;
    flex-direction: column;
    gap:5px;
    font-size:0.8rem;
    font-weight: 500;
    color: #747474;
}
.message p:last-child{
    color: #FF5207;
    font-size:0.9rem;
}
.custom-popup-container .btnOk,
.custom-popup-container .btnContinueShopping{
    width:calc(100% - 10% );
    color: #ffffff;
    font-size:1rem;
    font-weight: 500;
    padding: 10px 50px;
    font-family: 'Ubuntu', sans-serif;
    background-color: #000000;
    border:1px solid #000000;
    border-radius: 0%;
    transition: 0.3s ease-in-out;
}
.custom-popup-container .btnOk:hover,
.custom-popup-container .btnContinueShopping:hover {
    color: #442929;
    background-color: #ffffff;
    box-shadow: 0 0 0 transparent;
    border:1px solid #000000;
}

/* Section Checkout */

.checkout{
    width:90%;
    max-width:1300px;
    height: auto;
    margin: auto;
}
.checkout .endingPurchaseTitle{
    width:100%;
    padding-top:50px;
    color: #000000;
    font-size:1.5rem;
    font-weight: 700;
    margin: 20px auto;
}
.checkout .formUpDate{
    width:100%;
    height:auto;
    display: flex;
    flex-direction: row;
    justify-content:space-between ;
    margin: 0px auto 0px;
    gap:40px;
}
.checkout .formUpDate .checkoutProducts{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-end;
    margin: 0px auto;
    gap:5px;
}
.checkout .formUpDate .checkoutProducts .titleItem{
    width:100%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: (1, 1fr);
    /* justify-content: center;
    align-items: center; */
    border-top: 1px solid #F2F2F2;
    padding-top: 15px;
    padding-bottom: 10px;
    text-transform: uppercase;
}
.checkout .formUpDate .checkoutProducts .titleItem h4{
    width:100%;
    font-size:0.8rem;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}
.checkout .formUpDate .checkoutProducts .resumeProduct{
    width: 100%;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: repeat(1, 1fr);
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
    border-top: 1px solid #F2F2F2;
}
.checkout .formUpDate .checkoutProducts .resumeProduct .img{
    width:100%;
    background-color: #F9F9F9;
    border-radius: 5px;
    padding: 10px;
}
.checkout .formUpDate .checkoutProducts .resumeProduct .description{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.checkout .formUpDate .checkoutProducts .resumeProduct .description .info{
    width:70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
}
.checkout .formUpDate .checkoutProducts .resumeProduct .description .info .text{
    width:100%;
    display: flex;
    flex-direction: column;
    gap:5px;
    text-align: left;align-items: self-start;
}
.checkout .formUpDate .checkoutProducts .resumeProduct .description .info .category{
    font-size:0.9rem;
    font-weight: 700;
    color:#000000;
    font-family: 'Ubuntu', sans-serif;
    text-align: left;
}
.checkout .formUpDate .checkoutProducts .resumeProduct .description .info p{
    font-size:0.7rem;
    font-weight: 700;
    color:#000000;
    font-family: 'Ubuntu', sans-serif;
    text-align: left;
}
.checkout .formUpDate .checkoutProducts .resumeProduct .description .info .rating{
    width:80%;
    border-radius: 5px;
    align-self: self-start;
}
.checkout .formUpDate .checkoutProducts .resumeProduct p{
    width:100%;
    font-size:0.8rem;
    font-weight: 500;
    color:#000000;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
}
.checkout .formUpDate .checkoutProducts .emptySection{
    width: 100%;
    padding-top: 20px;
    border-top: 1px solid #F2F2F2;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
.checkout .formUpDate .checkoutProducts .emptySection .emptyCartWord{
    width: 25%;
    color:#323232;
    font-size:0.9rem;
    font-weight: 400;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 500;
}
.checkout .formUpDate .checkoutProducts .emptySection .emptyCartIcon{
    width: 30px;
    height:auto;
    border-radius: 50%;
    padding: 3px;
    cursor:pointer;
    transition: 0.3s ease-in-out;
}
.checkout .formUpDate .checkoutProducts .emptySection .emptyCartIcon:hover{
    background-color:#f9f9f9;
}
.checkout .formUpDate .checkoutProducts .totalCheckout{
    width: 100%;
    text-align: end;
    font-size:1.2rem;
    font-weight: 700;
    color: #FF5207;
}
.checkout .formUpDate .checkoutProducts .emptyCartLink{
    width:30%;
    color:#ffffff;
    font-size:1rem;
    font-weight: 400;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    text-decoration: none;
    padding:10px;
    margin-top:20px;
    background-color: #cccccc;
    text-align: center;
    border: 1px solid #cccccc;
    transition:0.3s ease-in-out;
}
.checkout .formUpDate .checkoutProducts .emptyCartLink:hover{
    border: 1px solid #f2f2f2;
    background-color: #f2f2f2;
    color:#747474;
}
.checkout .formUpDate .checkoutProducts .cartsPayment{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 10px auto;
    gap:5px;
}
.checkout .formUpDate .checkoutProducts .cartsPayment p{
    width:300px;
    font-size: 0.7rem;
    font-weight:300 ;
    color: #747474;
}
.checkout .formUpDate .checkoutProducts .payout{
    width:300px;
    height: auto;
    border-top : 1px solid #f2f2f2;
    padding-top:10px;
}

/* Checkout information */

.checkout .formUpDate .informationClient{
    width:55%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0px auto;
    position: sticky;
    top:60px;
}
.checkout .formUpDate .informationClient .shippingFree {
    width:100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #F9F9F9;
    margin: 0px auto 10px;
    padding:20px;
    color: #747474;
    font-size:0.8rem;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
}
.checkout .formUpDate .informationClient .shippingFree .message{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #747474;
    font-size:0.8rem;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
}
.checkout .formUpDate .informationClient .shippingFree .message span{
    color: #FF5207;
}
.checkout .formUpDate .informationClient .shippingFree .journey{
    width:100%;
    display: flex;
    flex-direction: row;
    gap:10px;
}
.checkout .formUpDate .informationClient .shippingFree .journey .shippingLine{
    width:100%;
    height:3px;
    background-color: #FF5207;
    align-self: self-end;
    border-radius: 30px;
}
.checkout .formUpDate .informationClient .shippingFree .journey .shipping{
    width:24px;
}
.checkout .formUpDate .informationClient .legend {
    width:100%;
    background-color: #F9F9F9;
    margin-bottom: 10px;
}
.checkout .formUpDate .informationClient .legend .advise{
    width:100%;
    text-align: center;
    color: #747474;
    margin:20px auto;
    font-size:0.8rem;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
}
.checkout .formUpDate .informationClient .background{
    width:100%;
    background-color: #F9F9F9;
    display: flex;
    flex-direction: column;
    padding:20px;
}
.checkout .formUpDate .informationClient .background .formBox{
    width:100%;
    background-color: #F9F9F9;
    display: flex;
    flex-direction: column;
    gap:10px;
}
.checkout .formUpDate .informationClient .background .formBox input{
    color: #747474;
    font-size:0.7rem;
    font-weight: 300;
    font-family: 'Ubuntu', sans-serif;
    padding:15px;
    border: 1px solid #cccccc;
}
.checkout .formUpDate .informationClient .background .buttons{
    width:100%;
    color: #747474;
    font-size:0.8rem;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
    background-color: #F9F9F9;
    display: flex;
    flex-direction: column;
    gap:15px;
    padding-top: 25px;
}
.checkout .formUpDate .informationClient .background .myBtn{
    width:100%;
    padding: 15px;
    font-size:1rem;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
    cursor: pointer;
}
.checkout .formUpDate .informationClient .background .checkout{
    color: #ffffff;
    background-color: #000000;
    border: 1px solid #000000;
    transition:0.3s ease-in-out;
}
.checkout .formUpDate .informationClient .background .checkout:hover{
    color: #000000;
    background-color: #F2F2F2;
    border: 1px solid #000000;
}

/* MediaQueries */

/* Section PopUp - Purchase order*/

@media screen and (max-width: 1120px){
    .custom-popup-container{
        width:40%;
        height:auto;
        font-family: 'Ubuntu', sans-serif;
        position: relative;
    }
}

@media screen and (max-width: 950px){
    .custom-popup-container{
        width:50%;
        height:auto;
        font-family: 'Ubuntu', sans-serif;
        position: relative;
    }
}
@media screen and (max-width: 750px){
    .custom-popup-container{
        width:60%;
        height:auto;
        font-family: 'Ubuntu', sans-serif;
        position: relative;
    }
}

@media screen and (max-width: 650px){
    .custom-popup-container{
        width:75%;
        height:auto;
        font-family: 'Ubuntu', sans-serif;
        position: relative;
    }
}

@media screen and (max-width: 500px){
    .custom-popup-container{
        width:90%;
        height:auto;
        font-family: 'Ubuntu', sans-serif;
        position: relative;
    }
}

@media screen and (max-width: 400px){
    .custom-popup-container{
        width:95%;
        height:auto;
        font-family: 'Ubuntu', sans-serif;
        position: relative;
    }
}

/* Section Checkout */

@media screen and (max-width: 1120px){
    .checkout .formUpDate .informationClient{
        width:60%;
    }
    .checkout .formUpDate .checkoutProducts .emptyCartLink{
        width:50%;
    }
    .checkout .formUpDate .checkoutProducts .emptySection .emptyCartWord{
        width: 45%;
    }
    .checkout .formUpDate .checkoutProducts .resumeProduct .description .info .rating{
        width:100%;
    }
}
@media screen and (max-width: 850px){
    .checkout .formUpDate{
        flex-direction: column;
    }
    .checkout .formUpDate .informationClient{
        width: 100%;
        position:static;
        top:0;
    }
    .checkout .formUpDate .checkoutProducts .titleItem h4{
        font-size:0.7rem;
    }
    .checkout .formUpDate .checkoutProducts .resumeProduct .img{
        width:100%;
    }
    .checkout .formUpDate .checkoutProducts .resumeProduct .info{
        gap:0px;
    }
    .checkout .formUpDate .checkoutProducts .resumeProduct .description .info .category{
        font-size:0.7rem;
    }
    .checkout .formUpDate .checkoutProducts .resumeProduct .description .info p{
        width:100%;
        font-size:0.5rem;
        margin:0;
    }
    .checkout .formUpDate .checkoutProducts .resumeProduct .description .info .rating{
        width:100%;
    }
    .checkout .formUpDate .checkoutProducts .resumeProduct p{
        width:120px;
        font-size:0.6rem;
        margin-left: 10px;
    }
    .checkout .formUpDate .checkoutProducts .emptyCartLink{
        width:100%;
    }
    .checkout .formUpDate .checkoutProducts .emptySection .emptyCartWord{
        width: 100%;
    }

    .checkout .formUpDate .checkoutProducts .cartsPayment{
        width:100%;
        display: flex;
        align-items: flex-start;
    }
    .checkout .formUpDate .informationClient{
        margin: 100px auto;
    }
}

@media screen and (max-width: 500px){
    .checkout .formUpDate .checkoutProducts .titleItem{
        width:100%;
        display:flex;
        justify-content: space-between;
        margin:0;
    }
    .checkout .formUpDate .checkoutProducts .emptyCartLink{
        width:100%;
    }
    .checkout .formUpDate .checkoutProducts .resumeProduct{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .checkout .formUpDate .checkoutProducts .resumeProduct .description{
        width:20%;
        margin-left:-30px;
    }
    .checkout .formUpDate .checkoutProducts .resumeProduct .description .info .rating{
        width:100%;
    }
    .checkout .formUpDate .checkoutProducts .resumeProduct .img{
        width:20%;
    }
    .checkout .formUpDate .checkoutProducts .resumeProduct p{
        width:30px;
    }
}

@media screen and (max-width: 360px){
    .checkout .formUpDate .checkoutProducts .cartsPayment p,
    .checkout .formUpDate .checkoutProducts .cartsPayment .payout{
        width:100%;
    }
}

