.arrowUpSection{
    width:46px;
    height:auto;
    position: fixed;
    bottom:20px;
    right:20px;
    z-index:11;
    filter:drop-shadow(1px 1px 2px #b0b0b0);

}
.arrowUpSection .arrowUp{
    width:100%;
    height:auto;
    border-radius: 5px;
    cursor:pointer;
    transform:scale(100%);
    transition: transform 0.3s ease-in-out;
}
.arrowUpSection .arrowUp:hover{
    transform:scale(102%);
    filter:drop-shadow(0px 0px 1px #b0b0b0);
}

