
.header{
    width:100%;
    height:50px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 65px;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    background-color: #F2F2F2;
    z-index:999;
}
.header .logoTekni{
    width:5%;
    height:auto;
    animation:logo 0.3s linear;
}
@keyframes logo{
    0%{
        transform:translate(-150%) ;
    }
    100%{
        transform:translate(0%) ;
    }
}

/* Icons Menu */

.header .iconsMenu{
    height:auto;
    position:relative;
    animation: icons 0.3s linear;
}
@keyframes icons{
    0%{
        transform:translateY(-150%) ;
    }
    100%{
        transform:translateY(0%) ;
    }
}
.header .iconsMenu ul{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap:15px;
}
.header .iconsMenu ul li{
    list-style-type: none;
}

/* Header > IconsMenu > NavBar */

.header #menu{
    display: none;
}
.header #menu:checked + .navBar{
    transform:translateY(0%);
    opacity:1;
}
.header .navBar{
    width: 100%;
    height: fit-content;
    position:absolute;
    top:100%;
    right:0%;
    left:0%;
    background-color: #CCCCCC;
    opacity:0;
    cursor: pointer;
    transform:translateY(35%);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.header .navBar ul{
    width: fit-content;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    gap:0px;
}
.header .navBar ul li{
    list-style-type: none;
    color: #000000;
    font-family: 'Ubuntu', sans-serif;
    font-size: 0.7rem;
    font-weight: 500;
    padding: 15px 40px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
    text-decoration: none;
    border-bottom: 4px solid transparent;
    transition: 0.3s ease-in-out;
}
.header .navBar ul li img{
    width: 28px;
    transition: 0.3s ease-in-out;
}
.header .navBar ul li:hover{
    background-color: #f2f2f2;
    border-bottom:  4px solid #FF5207;
}
