
.shoppingCartSection .shoppingProducts .productItem{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid #f2f2f2;
    background-color: #ffffff;
    transition:0.3s ease-in-out;
}
.shoppingCartSection .shoppingProducts .productItem:hover{
    background-color: #f9f9f9;
    border: 1px solid #f9f9f9;
}
.shoppingCartSection .shoppingProducts .productItem .productFeatures{
    margin: auto;
    align-items: flex-start;
}
.shoppingCartSection .shoppingProducts .productItem .productFeatures .productImage{
    max-width: 140px;
    margin-right: 30px;
    transform: scale(100%);
    transition:transform 0.3s ease-in-out;
}
.shoppingCartSection .shoppingProducts .productItem:hover > .productFeatures .productImage{
    transform: scale(104%);
    filter: drop-shadow(0px 1px 2px #747474);
}
.shoppingCartSection .shoppingProducts .productItem .iconOption{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:15px;
}
.shoppingCartSection .shoppingProducts .productItem .iconOption .features{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap:5px;
    padding-left: 2px;
}
.shoppingCartSection .shoppingProducts .productItem .iconOption .features .category{
    color:#747474;
    font-size:0.9rem;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
}
.shoppingCartSection .shoppingProducts .productItem .iconOption .features .reference{
    color:#747474;
    font-size:0.7rem;
    font-weight: 400;
    font-family: 'Ubuntu', sans-serif;
}
.shoppingCartSection .shoppingProducts .productItem .iconOption .rating{
    width:65px;
}
.shoppingCartSection .shoppingProducts .productItem .iconOption .icons{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}
.shoppingCartSection .shoppingProducts .productItem .iconOption .icons .icon{
    width:24px;
    height:auto;
    border-radius: 50%;
    padding: 3px;
    cursor:pointer;
    transition: 0.3s ease-in-out;
}
.shoppingCartSection .shoppingProducts .productItem .iconOption .icons .icon:hover{
    background-color: #ffffff;
}
.shoppingCartSection .shoppingProducts .productItem .price,
.shoppingCartSection .shoppingProducts .productItem .priceTotal,
.shoppingCartSection .shoppingProducts .productItem .counterProduct {
    color:#747474;
    font-size:1rem;
    font-weight: 400;
    font-family: 'Ubuntu', sans-serif;
    text-align: end;
    width:100%;
}
.shoppingCartSection .shoppingProducts .productItem .priceTotal{
    color:#323232;
    font-weight: 500;
}

/* MediaQueries */

@media screen and (max-width: 1000px){
    .shoppingCartSection .shoppingProducts .productItem .productFeatures .productImage{
        max-width: 100px;
    }
}

@media screen and (max-width: 850px){
    .shoppingCartSection .shoppingProducts .productItem .productFeatures .productImage{
        max-width: 80px;
    }
}

@media screen and (max-width: 500px){
    .shoppingCartSection .shoppingProducts .productItem .productFeatures .productImage{
        max-width: 45px;
        margin-right: 10px;
    }
}


@media screen and (max-width: 700px){
    .shoppingCartSection .shoppingProducts .productItem .iconOption .rating{
        width:45px;
    }
    .shoppingCartSection .shoppingProducts .productItem .iconOption .features .category{
        font-size:0.6rem;
    }
    .shoppingCartSection .shoppingProducts .productItem .iconOption .features .reference{
        font-size:0.6rem;
    }
    .shoppingCartSection .shoppingProducts .productItem .price,
    .shoppingCartSection .shoppingProducts .productItem .priceTotal,
    .shoppingCartSection .shoppingProducts .productItem .counterProduct{
        font-size:0.5rem;
    }
    .shoppingCartSection .shoppingProducts .productItem .productFeatures .productImage{
        max-width: 60px;
    }
    .shoppingCartSection .shoppingProducts .productItem .iconOption{
        gap:2px;
    }
}


