.servicePage{
    width: 100%;
    height: auto;
    background: url(../img/backgroundServices.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.servicePage .sectionServices{
    width: 90%;
    max-width:1300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin:auto;
    padding:100px 0px;
    gap:15px;
}
.servicePage .sectionServices div{
    width: 50%;
    height:auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 15px;
    border-radius: 10px;
    background-image: linear-gradient(to bottom right, #414141, #323232);
    cursor:pointer;
    transition: 0.3s ease-in-out;
}
.servicePage .sectionServices div:hover{
    box-shadow: 0 0 2px 1px #020202;
    background-image: linear-gradient(to bottom right, #323232,  #414141);
}
.servicePage .sectionServices div img{
    width: 50px;
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 10px;
}
.servicePage .sectionServices details{
    width: 100%;
    padding: 10px;
}
.servicePage .sectionServices details summary{
    color:#b0b0b0;
    font-size: 1rem;
    font-family:'Ubuntu', sans-serif; ;
    font-weight: 500;
    border-radius: 5px;
    background-color:#323232 ;
    padding: 10px;
    margin-bottom: 15px;
}
.servicePage .sectionServices details p{
    color:#CCCCCC;
    font-size: 0.8rem;
    font-family:'Ubuntu', sans-serif; ;
    font-weight: 500;
    border-radius: 5px;
    background-color:#323232 ;
    padding: 20px;
}


/* MediaQueries */

@media screen and (max-width: 1000px){
    .servicePage .sectionServices div{
        width: 70%;
        margin: auto
    }
}

@media screen and (max-width: 750px){
    .servicePage .sectionServices div{
        width: 85%;
        margin: auto
    }
}

@media screen and (max-width: 600px){
    .servicePage .sectionServices div{
        width: 100%;
        margin: auto
    }
}
