
.headsetSection{
    width:100%;
    height:auto;
    margin:300px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap:100px;
    overflow: hidden;
}
.headsetSection  .info{
    width:60%;
    height:auto;
    display:flex;
    flex-direction: column;
    gap:20px;
}
.headsetSection  .info .titleSection{
    font-size: 2.5rem;
    font-weight:500 ;
    color: #000000;
    text-align: center;
}
.headsetSection .info .description{
    font-size: 1.2rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight:400 ;
    color: #747474;
    text-align: center;
}
.headsetSection .imgHeadsetSection{
    width:max-content;
    height:auto;
    display: grid;
    grid-template-areas:
    "headsetOne headsetTwo headsetThree headsetFour headsetFive headsetSix headsetSeven headsetEight"
    ;
    gap:0;
    overflow: hidden;
    animation: sliderHeadphones 50s linear infinite ;
}
@keyframes sliderHeadphones{
    0%{
        transform: translate(26%);
    }
    25%{
        transform: translate(0%);
    }
    50%{
        transform: translate(-26%);
    }
    75%{
        transform: translate(0%);
    }
    100%{
        transform: translate(26%);
    }
}
.headsetSection .imgHeadsetSection .headsetSectionOne{
    grid-area: headsetOne;
}
.headsetSection .imgHeadsetSection .headsetSectionTwo{
    grid-area: headsetTwo;
}
.headsetSection .imgHeadsetSection .headsetSectionThree{
    grid-area: headsetThree;
}
.headsetSection .imgHeadsetSection .headsetSectionFour{
    grid-area: headsetFour;
}
.headsetSection .imgHeadsetSection .headsetSectionFive{
    grid-area: headsetFive;
}
.headsetSection .imgHeadsetSection .headsetSectionSix{
    grid-area: headsetSix;
}
.headsetSection .imgHeadsetSection .headsetSectionSeven{
    grid-area: headsetSeven;
}
.headsetSection .imgHeadsetSection .headsetSectionEight{
    grid-area: headsetEight;
}
.headsetSection .imgHeadsetSection .headsetSectionOne,
.headsetSection .imgHeadsetSection .headsetSectionTwo,
.headsetSection .imgHeadsetSection .headsetSectionThree,
.headsetSection .imgHeadsetSection .headsetSectionFour,
.headsetSection .imgHeadsetSection .headsetSectionFive,
.headsetSection .imgHeadsetSection .headsetSectionSix,
.headsetSection .imgHeadsetSection .headsetSectionSeven,
.headsetSection .imgHeadsetSection .headsetSectionEight{
    width:100%;
    height:auto;
    overflow: hidden;
    position: relative;
}
.headsetSection .imgHeadsetSection .item{
    width:100%;
    height:auto;
    object-fit: cover;
    position: relative;
    transform:scale(107%);
    transition:transform 0.3s ease-in-out;
}
.headsetSection .imgHeadsetSection .headsetSectionOne:hover > .item,
.headsetSection .imgHeadsetSection .headsetSectionTwo:hover > .item,
.headsetSection .imgHeadsetSection .headsetSectionThree:hover > .item,
.headsetSection .imgHeadsetSection .headsetSectionFour:hover > .item,
.headsetSection .imgHeadsetSection .headsetSectionFive:hover > .item,
.headsetSection .imgHeadsetSection .headsetSectionSix:hover > .item,
.headsetSection .imgHeadsetSection .headsetSectionSeven:hover > .item,
.headsetSection .imgHeadsetSection .headsetSectionEight:hover > .item{
    transform:scale(116%);
}
.headsetSection .imgHeadsetSection .headsetSectionOne .btnInfo,
.headsetSection .imgHeadsetSection .headsetSectionTwo .btnInfo,
.headsetSection .imgHeadsetSection .headsetSectionThree .btnInfo,
.headsetSection .imgHeadsetSection .headsetSectionFour .btnInfo,
.headsetSection .imgHeadsetSection .headsetSectionFive .btnInfo,
.headsetSection .imgHeadsetSection .headsetSectionSix .btnInfo,
.headsetSection .imgHeadsetSection .headsetSectionSeven .btnInfo,
.headsetSection .imgHeadsetSection .headsetSectionEight .btnInfo{
    width:100%;
    height:90%;
    position: absolute;
    top:30px;
    left:0px;
    z-index: 11;
    padding:0px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.headsetSection .imgHeadsetSection .headsetSectionOne .btnInfo .paragraph,
.headsetSection .imgHeadsetSection .headsetSectionTwo .btnInfo .paragraph,
.headsetSection .imgHeadsetSection .headsetSectionThree .btnInfo .paragraph,
.headsetSection .imgHeadsetSection .headsetSectionFour .btnInfo .paragraph,
.headsetSection .imgHeadsetSection .headsetSectionFive .btnInfo .paragraph,
.headsetSection .imgHeadsetSection .headsetSectionSix .btnInfo .paragraph,
.headsetSection .imgHeadsetSection .headsetSectionSeven .btnInfo .paragraph,
.headsetSection .imgHeadsetSection .headsetSectionEight .btnInfo .paragraph{
    font-size: 1.1rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight:500;
    color: #ffffff;
    text-align: left;
    letter-spacing: 2px;
    line-height: 30px;
    filter:drop-shadow(1px 1px 2px #000000);
}
.headsetSection .imgHeadsetSection .headsetSectionOne .btnInfo .cta,
.headsetSection .imgHeadsetSection .headsetSectionTwo .btnInfo .cta,
.headsetSection .imgHeadsetSection .headsetSectionThree .btnInfo .cta,
.headsetSection .imgHeadsetSection .headsetSectionFour .btnInfo .cta,
.headsetSection .imgHeadsetSection .headsetSectionFive .btnInfo .cta,
.headsetSection .imgHeadsetSection .headsetSectionSix .btnInfo .cta,
.headsetSection .imgHeadsetSection .headsetSectionSeven .btnInfo .cta,
.headsetSection .imgHeadsetSection .headsetSectionEight .btnInfo .cta{
    width: 70%;
    padding:10px;
    font-size: 0.9rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight:400;
    color: #FF5207;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    letter-spacing:2px;
    background-color: transparent;
    border: 1.5px solid #FF5207;
    transition:0.3s ease-in-out;
}
.headsetSection .imgHeadsetSection .headsetSectionOne .btnInfo .cta:hover,
.headsetSection .imgHeadsetSection .headsetSectionTwo .btnInfo .cta:hover,
.headsetSection .imgHeadsetSection .headsetSectionThree .btnInfo .cta:hover,
.headsetSection .imgHeadsetSection .headsetSectionFour .btnInfo .cta:hover,
.headsetSection .imgHeadsetSection .headsetSectionFive .btnInfo .cta:hover,
.headsetSection .imgHeadsetSection .headsetSectionSix .btnInfo .cta:hover,
.headsetSection .imgHeadsetSection .headsetSectionSeven .btnInfo .cta:hover,
.headsetSection .imgHeadsetSection .headsetSectionEight .btnInfo .cta:hover{
    border: 1px solid #000000;
    background-color: #000000;
    letter-spacing:3px;
    color: #ffffff;
}
