.contactUsSection{
    position: relative;
}
.contactUsSection .contactUsContainer{
    width: 100vw;
    height:max-content;
    display:none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 40px 80px;
    gap:20px;
    position: absolute;
    top: 105%;
    margin: 0px 14px 0px -500px;
    background-color: #F2F2F2;
    transition: 0.3s ease-in-out;
}
.contactUsSection:hover .contactUsContainer{
    display: flex;
}
.contactUsSection .contactUsContainer .columnLocation,
.contactUsSection .contactUsContainer .columnContactNumber{
    width:25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    overflow: hidden;
}
.contactUsSection .contactUsContainer .columnLocation .titlesContactUs{
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.contactUsSection .contactUsContainer .columnLocation .titlesContactUs .title{
    font-size:0.8rem;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
    color:#747474;
}
.contactUsSection .contactUsContainer .columnLocation .buildingLocation{
    width: 100%;
    display:flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    padding: 15px 20px;
    border-radius: 10px;
    border:1px solid #cccccc;
    transition: 0.3s ease-in-out;
}
.contactUsSection .contactUsContainer .columnLocation .buildingLocation:hover{
    background-color: #f9f9f9;
    border:1px solid #f9f9f9;
}
.contactUsSection .contactUsContainer .columnLocation .buildingLocation .buildingPic{
    width:45px;
    height:auto;
    border-radius: 5px;
}
.contactUsSection .contactUsContainer .columnLocation .buildingLocation .info h4{
    font-size:0.7rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    color:#B0B0B0;
}
.contactUsSection .contactUsContainer .columnLocation .buildingLocation .info p{
    font-size:0.6rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    color:#B0B0B0;
}
.contactUsSection .contactUsContainer .columnContactNumber{
    height: 100%;
    justify-content: space-between;
    gap: 15px;
}
.contactUsSection .contactUsContainer .columnContactNumber .contactCountry .title{
    width:100%;
    font-size:0.7rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    color:#B0B0B0;
    padding: 10px 0px;
}
.contactUsSection .contactUsContainer .columnContactNumber .contactCountry p{
    width:100%;
    font-size:0.6rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    color:#B0B0B0;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 150px;
    overflow:hidden;
    padding: 5px 0px;
}
