
.contactUsSection ul .navLink {
    text-decoration: none;
}
.contactUsSection ul .navLink .link{
    height: 85px;
    list-style-type: none;
    color: #000000;
    font-family: 'Ubuntu', sans-serif;
    font-size: 0.7rem;
    font-weight: 500;
    padding: 15px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
    border-bottom: 4px solid transparent;
    transition: 0.3s ease-in-out;
}
.contactUsSection ul .navLink .link img{
    width: 28px;
    transition: 0.3s ease-in-out;
}
.contactUsSection .navBar ul .navLink .link:hover{
    background-color: #f2f2f2;
    border-bottom:  4px solid #FF5207;
}

.contactUsSection .contactUsContainer{
    width: 100%;
    height:max-content;
    display:none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 40px 80px;
    gap:20px;
    position: fixed;
    top: 100%;
    right: 0px;
    left: 0px;
    background-color: #F2F2F2;
    transition: 0.3s ease-in-out;
}
.contactUsSection:hover .contactUsContainer{
    display: flex;
}
.contactUsSection .contactUsContainer .columnLocation,
.contactUsSection .contactUsContainer .columnContactNumber{
    width:25%;
    max-width:290px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    overflow: hidden;
}
.contactUsSection .contactUsContainer .columnLocation .titlesContactUs{
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.contactUsSection .contactUsContainer .columnLocation .titlesContactUs .title{
    font-size:0.8rem;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
    color:#747474;
}
.contactUsSection .contactUsContainer .columnLocation .buildingLocation{
    width: 100%;
    display:flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
    padding: 15px 20px;
    border-radius: 10px;
    border:1px solid #cccccc;
    transition: 0.3s ease-in-out;
}
.contactUsSection .contactUsContainer .columnLocation .buildingLocation:hover{
    background-color: #f9f9f9;
    border:1px solid #f9f9f9;
}
.contactUsSection .contactUsContainer .columnLocation .buildingLocation .buildingPic{
    width:45px;
    height:auto;
    border-radius: 5px;
}
.contactUsSection .contactUsContainer .columnLocation .buildingLocation .info h4{
    font-size:0.7rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    color:#B0B0B0;
}
.contactUsSection .contactUsContainer .columnLocation .buildingLocation .info p{
    font-size:0.6rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    color:#B0B0B0;
}
.contactUsSection .contactUsContainer .columnContactNumber{
    height: 100%;
    height:auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: flex-start;
    gap: 40px;
    padding-top:20px;
}
.contactUsSection .contactUsContainer .columnContactNumber .contactCountry{
    width:100%;
    font-size:0.7rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    color:#B0B0B0;
    padding: 10px 0px;
}
.contactUsSection .contactUsContainer .columnContactNumber .contactCountry .title{
    width:100%;
    font-size:0.7rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    color:#B0B0B0;
    padding: 10px 0px;
}
.contactUsSection .contactUsContainer .columnContactNumber .contactCountry p{
    width:100%;
    font-size:0.6rem;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    color:#B0B0B0;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    overflow:hidden;
    padding: 5px 0px;
}
/* .contactUsSection .contactUsContainer .btnContactUs{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-self: self-end;
    gap: 20px;
    padding: 10px;
    background-color: #000000;
    text-decoration: none;
    font-size:0.9rem;
    font-weight: 500;
    font-family: 'Ubuntu', sans-serif;
    color:#ffffff;
    margin-top:40px;
    border: 1px solid #000000;
    transition:0.3s ease-in-out;
}
.contactUsSection .contactUsContainer .btnContactUs:hover{
    background-color: #ffffff;
    color:#000000;
} */

/* MediaQueries */

@media screen and (max-width: 1300px){
    .contactUsSection #contactUsContainer{
        display: none;
    }
}

@media screen and (max-width: 670px){
    .contactUsSection{
        width:100%;
    }
    .contactUsSection ul .navLink{
        width:50%;
    }
    .contactUsSection ul .navLink .link{
        width: 100%;
        padding: 0px;
    }
    .contactUsSection ul .navLink .link:hover{
        background-color: #d6d6d6;
        border-bottom:  4px solid #d6d6d6;
    }
}
