.footerSection{
    width:100%;
    height:auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    background-color: #000000;
    margin: 0px auto;
}
.footerSection .sections{
    width:100%;
    max-width: 90%;
    height:auto;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    gap:180px;
    overflow: hidden;
    margin: 50px auto;
}
.footerSection .sections .sectionContact{
    width:100%;
    height:auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
}
.footerSection .sections .sectionContact .distributors .flags{
    width:100%;
    height:auto;
}
.footerSection .sections .sectionContact .distributors .flags ul{
    width:100%;
    height:auto;
    display:flex;
    flex-direction: column;
    gap:10px;
}
.footerSection .sections .sectionContact .distributors .flags ul li,
.footerSection .sections .sectionContact .distributors .flags ul li{
    width:100%;
}
.footerSection .sections .sectionContact .distributors .flags ul li .navLink,
.footerSection .sections .sectionContact .distributors .flags ul li .navLink{
    text-decoration: none;
}
.footerSection .sections .sectionContact .distributors .flags ul li .navLink .canadaFlag,
.footerSection .sections .sectionContact .distributors .flags ul li .navLink .colombiaFlag{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
    background-color: #747474;
    padding:10px 15px;
    cursor:pointer;
}
.footerSection .sections .sectionContact .distributors .flags ul li .navLink .canadaFlag .icon,
.footerSection .sections .sectionContact .distributors .flags ul li .navLink .colombiaFlag .icon{
    width:20px;
    height: auto;
}
.footerSection .sections .sectionContact .distributors .flags ul li .navLink .canadaFlag p,
.footerSection .sections .sectionContact .distributors .flags ul li .navLink .colombiaFlag p{
    font-size: 0.7rem;
    font-weight:500;
    color: #000000;
}
.footerSection .sections .sectionContact .socialMedia .contactUs,
.footerSection .sections .sectionContact .distributors .contactUs{
    font-size: 0.9rem;
    font-weight:400;
    color: #FF5207;
    text-align: left;
    padding-bottom:10px;
}
.footerSection .sections .categories ul,
.footerSection .sections .products ul,
.footerSection .sections .options ul{
    width: max-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}
.footerSection .sections .categories ul li .NavLink,
.footerSection .sections .products ul li .NavLink,
.footerSection .sections .options ul li .NavLink{
    font-size: 0.7rem;
    font-weight:400 ;
    color: #CCCCCC;
    text-align: left;
    padding:5px;
    cursor: pointer;
    text-decoration: none;
    transition:0.3s ease-in-out;
}
.footerSection .sections .categories ul li .NavLink:hover,
.footerSection .sections .products ul li .NavLink:hover,
.footerSection .sections .options ul li .NavLink:hover{
    color:#FF5207;
}
.footerSection .developerInfo{
    width:100%;
    height:auto;
    margin: 10px auto;
    order:3;
}
.footerSection .developerInfo p{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0px;
    font-size: 0.6rem;
    font-weight:300 ;
    color: #747474;
}
.footerSection .developerInfo .personalBrand{
    width:20px;
    height: auto;
}
.footerSection .cartsPayment{
    width:90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 10px auto;
    gap:10px;
}
.footerSection .cartsPayment p{
    width:25%;
    font-size: 0.7rem;
    font-weight:300 ;
    color: #747474;
}
.footerSection .cartsPayment .payout{
    width:25%;
    height: auto;
    border-top : 1px solid #323232;
    padding-top:10px;
}

/* MediaQueries */

@media screen and (max-width: 1120px){
    .footerSection .sections{
        gap:80px;
    }
}
@media screen and (max-width: 800px){
    .footerSection .sections{
        gap:40px;
    }
}

@media screen and (max-width: 680px){
    .footerSection .sections{
        gap:20px;
    }
}
@media screen and (max-width: 630px){
    .footerSection .sections{
        justify-content: space-between;
        flex-wrap: wrap;
        gap:40px;
    }
    .footerSection .sections .sectionContact{
        order:1;
    }
}
