/*

.randomProductContainer{
    width:100%;
    max-width: 90%;
    height:auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px auto;
    padding: 0px 50px ;
    gap:100px;
    overflow: hidden;
}
.randomProductContainer .titleSection{
    color: #000000;
    font-size: 2.5rem;
    font-weight: 500;
    font-family: 'Expletus Sans', sans-serif;
}
.randomProductContainer .productList{
    width:min-content;
    height:auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    overflow: hidden;
    animation: relatedProducts 200s linear infinite 0.1s;
}
@keyframes relatedProducts{
    0%{
        transform: translate(-31%);
    }
    25%{
        transform: translate(0%);
    }
    50%{
        transform: translate(31%);
    }
    75%{
        transform: translate(0%);
    }
    100%{
        transform: translate(-31%);
    }
}
.randomProductContainer .productList .cardProduct{
    width:220px;
    height:auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 30px;
    padding:20px 15px;
    font-family: 'Ubuntu', sans-serif;
    border: 1px solid #F2F2F2;
}
.randomProductContainer .productList .cardProduct:hover{
    background-color: #F8F8F8;
    border: 1px solid #F8F8F8;
}
.randomProductContainer .productList .cardProduct:hover > img{
    transform:scale(105%);
    filter:brightness(130%);
}
.randomProductContainer .productList .cardProduct img{
    width:100%;
    height:auto;
    object-fit: cover;
    filter:brightness(115%);
    transform:scale(100%);
    transition: transform 0.3s ease-in-out;
}
.randomProductContainer .productList .cardProduct .description{
    width:100%;
    height:auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap:20px;
    font-family: 'Ubuntu', sans-serif;
}
.randomProductContainer .productList .cardProduct h3{
    width:100%;
    height:auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap:20px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.1rem;
    font-weight: 700;
    color: #323232;
}
.randomProductContainer .productList .cardProduct p{
    width:100%;
    height:auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap:20px;
    font-family: 'Ubuntu', sans-serif;
    font-size: 0.9rem;
    font-weight: 400;
    color: #747474;
}
.randomProductContainer .productList .cardProduct p span{
    font-family: 'Ubuntu', sans-serif;
    font-size: 0.9rem;
    font-weight: 700;
    color: #FF5207;
}
.randomProductContainer .productList .cardProduct .ctaDetailProduct{
    width:100%;
    padding: 10px 15px;
    font-family: 'Ubuntu', sans-serif;
    background-color:#000000;
    border: 1px solid #000000;
    font-size: 1rem;
    font-weight: 700;
    color: rgb(255, 255, 255);
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    transition: 0.3s ease-in-out;
}
.randomProductContainer .productList .cardProduct .ctaDetailProduct:hover{
    background-color:#ffffff;
    border: 1px solid #FF5207;
    color:#FF5207;
}

 */
