.cardContainer{
    width:100%;
    height:auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    margin: 100px auto;
    padding: 0px 50px ;
}
