
.categorySection{
    height: 85px;
    position:relative;
    list-style-type: none;
    color: #000000;
    font-family: 'Ubuntu', sans-serif;
    font-size: 0.7rem;
    font-weight: 500;
    padding: 15px 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
    cursor: pointer;
    border-bottom: 4px solid transparent;
    transition: 0.3s ease-in-out;
}
.categorySection:hover{
    background-color: #f2f2f2;
    border-bottom:  4px solid #FF5207;
}
.categorySection img{
    width: 28px;
}
.categorySection .categoryItems{
    width: 100vw;
    display:none;
    position: absolute;
    top: 105%;
    margin: 0px -3px 0px 0px;
    background-color: #F2F2F2;
    transition: 0.3s ease-in-out;
}
.categorySection:hover .categoryItems{
    display: block;
}
.categorySection .categoryItems ul{
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap:0px;
}
.categorySection .categoryItems ul .navLinkCategory{
    text-decoration: none;
    border-bottom:4px solid #f2f2f2;
    transition: 0.3s ease-in-out;
}
.categorySection .categoryItems ul .navLinkCategory:hover{
    border-bottom:  4px solid #FF5207;
}
.categorySection .categoryItems ul .navLinkCategory .li{
    width:100%;
    height:auto;
    color: #000000;
    font-family: 'Ubuntu', sans-serif;
    font-size: 0.7rem;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 35px;
    transition: 0.3s ease-in-out;
}
.categorySection .categoryItems ul .navLinkCategory .li:hover{
    background-color: #f9f9f9;
}
.categorySection .categoryItems ul .navLinkCategory .li:hover > img{
    transform:scale(105%);
}
.categorySection .categoryItems ul .navLinkCategory .li img{
    width:120px;
    object-fit: cover;
    transform:scale(100%);
    transition:transform 0.3s ease-in-out;
}

/* MediaQueries */

@media screen and (max-width: 660px){
    .categorySection{
        width:50%;
        height:85px;
        z-index: 97;
        border-top: 4px solid transparent;
    }
    .categorySection:hover{
        background-color: #d6d6d6;
        border-bottom:  4px solid #d6d6d6;
    }
}
@media screen and (max-width: 450px){
    .categorySection{
        width:100%;
    }
}
